section.no-page__inner
  .container    
    .no-page__header.row
      .no-page__error.col-sm-12.col-md-4
        h2.no-page__error-number 404    
        .no-page__error-message
          | страница не&nbsp;найдена
      .no-page__text.col-sm-12.col-md-4
        p Страницы с&nbsp;таким адресом нет на&nbsp;нашем сайте. Если вы&nbsp;считаете, что это наша ошибка, 
          a(href="javascript:void(0)") напишите нам
          |.