section.create
  .container
    .create__inner(data-sticky-btn data-indent="52")
      header.create__top
        .heading
          .heading__content
            .heading__title Создаём
            .heading__subtitle специально для вас
          .heading__right
            a.btn(href="#create" data-anchor="create" data-sticky) первый шаг к вашей книге
      .create__row.row
        .create__item.col-md-3
          p тематические издания, подарочные альбомы, иллюстрированные хроники, каталоги
        .create__item.col-md-3
          p иллюстрированные исторические издания, биографии, книги и&nbsp;альбомы по&nbsp;искусству;
        .create__item.col-md-3
          p подарочные научно-популярные издания, эксклюзивные книги-исследования, иллюстрированные шедевры детской и&nbsp;взрослой литературы, книжные серии;
        .create__item.col-md-3
          p юбилейные корпоративные и&nbsp;отраслевые издания.
      footer.create__bottom
         a.btn.btn--block(href="#create" data-anchor="create") первый шаг к вашей книге