section.features
  .container
    .features__inner    
      header.features__header
        .heading
          h2.heading__title Особенности
          .heading__subtitle нашего метода
      .features__row.row
        .features__item.col-md-4
          p Тема, формат, структура издания учитывают ценности вашей компании и&nbsp;суть события.
        .features__item.col-md-4
          p Авторская графика, уникальные фотоматериалы, тексты, специально написанные лучшими авторами.
        .features__item.col-md-4
          p Полный цикл подготовки, эксклюзивное дизайнерское и&nbsp;материальное решение, ответственность за&nbsp;качество работы.
