section.hero.hero--v2(style="")
  .container
    .hero__inner
      .row
        .hero__logo.col-sm-4
          img(src="./img/static/vert-logo-big.svg" width="150", alt="")
        .hero__text.col-sm-8
          p Партнерский проект, объединяющий ресурсы и&nbsp;достижения Издательской группы Agey Tomesh&nbsp;/ Книги WAM и&nbsp;Школы дизайна НИУ ВШЭ: общая команда, общие правила, общие традиции.
          p Мы&nbsp;издаем книги, каждая из&nbsp;которых&nbsp;&mdash; событие, предмет коллекционирования, вклад в&nbsp;историю, произведение книжного искусства, созданное в&nbsp;сотрудничестве с&nbsp;заказчиком&nbsp;&mdash; и&nbsp;специально для него.
      .hero__bottom.row        
        .logo-textual.col-sm-2.col-sm-offset-4
          div издательство школы&nbsp;дизайна<br>ниу вшэ<br>при&nbsp;участити
          img(src="./img/static/ag.svg", alt="")
        .col-sm-2
          address.contacts
            a.contacts__link(href="javascript:void(0)") москва,<br> м. пионерская, 12
            a.contacts__link(href="tel:+79031442032") +&nbsp;7&nbsp;(495)&nbsp;913&nbsp;62&nbsp;95
            a.contacts__link(href="mailto:deslab@hse.ru") deslab@hse.ru