section.how-work
  .container
    .how-work__inner(data-sticky-btn data-indent="62")
      header.how-work__header
        .heading
          .heading__content
            h2.heading__title Как
            .heading__subtitle мы&nbsp;работаем
          .heading__right
            a.btn(href="#create" data-anchor="create" data-sticky) первый шаг к&nbsp;вашей книге
      .how-work__row.row
        .how-work__item.col-md-4
          .heading.heading--grey
            h3.heading__title 1.
            .heading__subtitle концепция
          .how-work__item-content
            p Встречаемся с&nbsp;заказчиком, обсуждаем вводные данные.
            p Готовим три концепции издания.
            p Создаем эскизы иллюстрированных страниц для каждой&nbsp;&mdash; с&nbsp;реальными текстами и&nbsp;изображениями.
            p После выбора и&nbsp;доработки концепции согласовываем формат, объем, рубрикатор, план и&nbsp;график работ.
            p Подписываем документы.
        .how-work__item.col-md-4
          .heading.heading--grey
            h3.heading__title 2.
            .heading__subtitle работа
          .how-work__item-content
            p Проводим исследовательскую, поисковую работу, наполняем издание текстами и&nbsp;иллюстрациями.
            p Поэтапно предъявляем и&nbsp;согласуем результаты.
            p Книга сверстана. После согласования с&nbsp;заказчиком очищаем права на&nbsp;изображения.
            p Вставляем в&nbsp;макет иллюстрации полиграфического качества.
        .how-work__item.col-md-4
          .heading.heading--grey
            h3.heading__title 3.
            .heading__subtitle в&nbsp;печать!
          .how-work__item-content
            p Производим цветокоррекцию и&nbsp;допечатную подготовку.
            p Передаем готовые файлы в&nbsp;типографию.
            p Книга готова!
      footer.how-work__bottom
         a.btn.btn--block(href="#create" data-anchor="create") первый шаг к вашей книге