footer.footer.footer--v2.footer--inner-page
  .container
    .footer__inner
      a.footer__logo.logo(href="/")
        img.logo__main(src="img/static/logo-inner-page.svg", alt="HSE ART BOOKS")
        .logo__mobile
          img.logo__first(src="img/static/vLOGONormal.svg", alt="Agey Tomesh Wam")
          .logo-textual
            div издательство школы&nbsp;дизайна<br>ниу вшэ<br>при&nbsp;участити
              img(src="./img/static/ag.svg", alt="")       

      .footer__nav
        nav.nav
          ul.nav__list
            li.nav__item
              a(href="" title="Каталог") каталог
            li.nav__item
              a(href="" title="Как мы работаем") как мы работаем

      .footer__right
        .footer__right-item
          .footer__social
            .social
              ul.social__list
                li.social__item
                  a(href="#") Faceebok
                    +icon('fb', 30)
                li.social__item
                  a(href="#") Vkontakte
                    +icon('vk', 30)
                li.social__item
                  a(href="#") Instagram
                    +icon('inst', 30)
        .footer__right-item
          .footer__search 
            .search
              input.search__field
              button.search__btn.btn.btn--search(type="button")
                +icon('search', 17.5)
      .footer__contacts
        address.contacts
          a.contacts__link(href="javascript:void(0)") москва,<br> м. пионерская, 12
          a.contacts__link(href="tel:+79031442032") +&nbsp;7&nbsp;(495)&nbsp;913&nbsp;62&nbsp;95
          a.contacts__link(href="mailto:deslab@hse.ru") deslab@hse.ru
    .footer__advanced.row
      .logo-textual.col-sm-2
        div издательство школы&nbsp;дизайна<br>ниу вшэ<br>при&nbsp;участити
        img(src="./img/static/ag.svg", alt="")
      .col-sm-3
        address.contacts
          a.contacts__link(href="javascript:void(0)") москва,<br> м. пионерская, 12
          a.contacts__link(href="tel:+79031442032") +&nbsp;7&nbsp;(495)&nbsp;913&nbsp;62&nbsp;95
          a.contacts__link(href="mailto:deslab@hse.ru") deslab@hse.ru







