section.new-books
  .container
    .new-books__inner
      .new-books__item(data-sticky-btn data-indent="323")
        header.new-books__header
          .heading
            .heading__content
              .heading__title Новые книги
              .heading__subtitle издано в&nbsp;2017 году
        article.book-description
          .book-description__top
            .book-description__cover
              img(src="img/content/world-travel.jpg",
                  alt="")
            .book-description__content
              h2.book-description__title Всемирный путешественник
              .book-description__descr
                p С&nbsp;1867 года русский генерал-лейтенант и&nbsp;издатель, владелец первого частного картографического заведения Алексей Афиногенович Ильин выпускал в&nbsp;течение одиннадцати лет журнал популярного землеведения &laquo;Всемирный Путешественник&raquo;. Повествуя о&nbsp;необыкновенных приключениях европейцев, журнал знакомил русскую публику с&nbsp;путешествиями по&nbsp;разным странам земного шара. Вместе с&nbsp;тем в&nbsp;каждом номере публиковалось множество географических, статистических и&nbsp;этнографических сведений научного толка.
                p Настоящее издание представляет вниманию читателя наиболее примечательные и&nbsp;интересные путевые заметки, проиллюстрированные гравюрами.
                p Проект Группы Интеррос.     
              .book-description__descr-bottom
                .book-description__descr-logo
                  img(src="img/content/interros.jpg" width="170" height="85" alt="Интерос")
            .book-description__button
              a.btn.btn--block.btn--block.btn--block(href="javascript: void(0)" data-sticky) каталог
          .book-description__bottom.row
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 1867&ndash;1878
                    .heading__subtitle годы
              .info-block__content
                p все номера журнала &laquo;Всемирный путешественник&raquo; за&nbsp;этот период были изучены ради этого проекта
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title >2000
                    .heading__subtitle иллюстраций
                .info-block__content
                  p отсмотрели, отобрали и&nbsp;отреставрировали фоторедакторы и&nbsp;художники
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  Дизайн
                    .heading__subtitle соответствует
                .info-block__content
                  p стилистике времён оригинального журнала
      .new-books__item(data-sticky-btn data-indent="148")
        article.book-description
          .book-description__top.book-description__top--reverse
            .book-description__cover
              img(src="img/content/w-magazine.jpg",
                  alt="Футбол Чемпионаты мира")
            .book-description__content
              h2.book-description__title Женский журнал
              .book-description__descr
                p Женщине нужен журнал не&nbsp;теоретический, но, прежде всего, практический, журнал повседневной жизни. Поэтому &laquo;Женский Журнал&raquo; предполагает обслуживать, в&nbsp;первую очередь, практические запросы женщин.
                p Наша ближайшая цель&nbsp;&mdash; сгруппировать вокруг журнала как одиноких &laquo;холостых&raquo; женщин самостоятельного труда, так и&nbsp;семейных&nbsp;&mdash; жен, матерей и&nbsp;домашних хозяек под лозунгом лучшего устроения женской жизни, выработки лучших, наиболее совершенных форм женского быта.
              
            .book-description__button
              a.btn.btn--block(href="javascript: void(0)" data-sticky) каталог
          .book-description__bottom.row
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title Все
                    .heading__subtitle без исключения
              .info-block__content
                p номера журнала вошли в&nbsp;издание
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title Мода
                    .heading__subtitle конца 1920-х
                .info-block__content
                  p стала стилевой основой издания
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  ОБЛОЖКИ
                    .heading__subtitle журналов
                .info-block__content
                  p превращены в&nbsp;самостоятельные произведения искусства&nbsp;&mdash; плакаты