section.new-books
  .container
    .new-books__inner
      .new-books__item(data-sticky-btn data-indent="323")
        header.new-books__header
          .heading
            .heading__content
              .heading__title Новые книги
              .heading__subtitle издано в&nbsp;2017 году
        article.book-description
          .book-description__top
            .book-description__cover
              img(src="img/content/football.jpg",
                  alt="Футбол Чемпионаты мира")
            .book-description__content
              h2.book-description__title Футбол. Чемпионаты мира. 1930&ndash;2014
              .book-description__descr
                p Турниры лучших сборных планеты похожи на&nbsp;сериал, эпизоды которого выходят раз в&nbsp;четыре года. Никто не&nbsp;знает, чем всё завершится, герои кочуют из&nbsp;одной серии в&nbsp;другую. Но&nbsp;каждый из&nbsp;них вносит вклад в&nbsp;создание особой, неповторимой атмосферы турнира. Её-то мы&nbsp;и&nbsp;постарались воссоздать, вспомнив при этом не&nbsp;только знаменитостей, но&nbsp;и&nbsp;полузабытых участников футбольного шоу.
                p Издание подготовлено и&nbsp;осуществлено по&nbsp;инициативе Группы Интеррос.
              .book-description__descr-bottom
                .book-description__descr-logo
                  img(src="img/content/interros.jpg" width="160" alt="Интерос")
            .book-description__button
              a.btn.btn--block(href="javascript: void(0)" data-sticky) каталог
          .book-description__bottom.row
            .book-description__bottom-item.col-md-3
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 7
                    .heading__subtitle месяцев
              .info-block__content
                p прошло от&nbsp;первоначального замысла до&nbsp;получения тиража книги 
            .book-description__bottom-item.col-md-3
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 45
                    .heading__subtitle портретов игроков
                .info-block__content
                  p были нарисованы для книги художником Евгением Тонконогим
            .book-description__bottom-item.col-md-3
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  100
                    .heading__subtitle часов
                .info-block__content
                  p видеотрансляций матчей изучили авторы текстов
            .book-description__bottom-item.col-md-3
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  4000
                    .heading__subtitle фотографий
                .info-block__content
                  p от&nbsp;ведущих фотобанков и&nbsp;фотоагентств было просмотрено редактором
      .new-books__item(data-sticky-btn data-indent="148")
        article.book-description
          .book-description__top.book-description__top--reverse
            .book-description__cover
              img(src="img/content/russia.jpg",
                  alt="Футбол Чемпионаты мира")
            .book-description__content
              h2.book-description__title Россия. XX&nbsp;век
              .book-description__descr
                p Издательский коллектив поставил перед собой амбициозную задачу: передать в&nbsp;одной книге события русской истории в&nbsp;невероятно бурном веке, начавшегося с&nbsp;разработки проекта памятника Гоголю в&nbsp;Москве и&nbsp;завершившегося принятием Государственной думой символики и&nbsp;гимна независимой России. Воссоздать целостную и&nbsp;объективную картину прошлого удалось с&nbsp;помощью специально отобранных выдержек из&nbsp;газет и&nbsp;журналов минувшего столетия. Тексты сопровождает иллюстративный ряд, неожиданный и&nbsp;яркий, материалы для которого нашлись в&nbsp;музейных запасниках и&nbsp;картинных галереях.
                p Издание подготовлено в&nbsp;рамках программы &laquo;Культурный прорыв&raquo; Благотворительного фонда Владимира Потанина.
              .book-description__descr-bottom
                .book-description__descr-logo
                  img(src="img/content/fond.jpg" width="277" height="111" alt="Интерос")
            .book-description__button
              a.btn.btn--block(href="javascript: void(0)" data-sticky) каталог
          .book-description__bottom.row
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title События
                    .heading__subtitle разного масштаба
              .info-block__content
                p от&nbsp;достижений советских кондитеров до&nbsp;полета Гагарина в&nbsp;космос
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title Пресса
                    .heading__subtitle X&nbsp;века
                .info-block__content
                  p от&nbsp;достижений советских кондитеров до&nbsp;полета Гагарина в&nbsp;космос
            .book-description__bottom-item.col-md-4
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title(style="letter-spacing: 0.25px")  Визуальная
                    .heading__subtitle культура
                .info-block__content
                  p картины, денежные купюры, кадры из&nbsp;фильмов, плакаты и&nbsp;этикетки
      .new-books__item(data-sticky-btn data-indent="141")
        article.book-description
          .book-description__top
            .book-description__cover
              img(src="img/content/iron-logic.jpg",
                  alt="Футбол Чемпионаты мира")
            .book-description__content
              h2.book-description__title Железная логика России
              .book-description__descr
                p Металл&nbsp;&mdash; основа цивилизации, то, без чего невозможна ни&nbsp;общественная, ни&nbsp;частная жизнь. История отечественной металлургии, в&nbsp;частности, заводов, входящих в&nbsp;ОМК, неразрывно связана с&nbsp;историей страны. Книга &laquo;Железная логика России&raquo;&nbsp;&mdash; историко-журналистская хроника, иллюстрированная сотнями редких фотографий, документов, картин. Она охватывает период с&nbsp;1756-го по&nbsp;2017&nbsp;г. Здесь металлургия и&nbsp;история заводов, входящих в&nbsp;ОМК,&nbsp;&mdash; часть важнейших исторических и&nbsp;культурных процессов в&nbsp;стране. Книга одновременно издана на&nbsp;русском и&nbsp;на&nbsp;английском языке.
                p Проект приурочен к&nbsp;юбилею Объединенной металлургической компании и&nbsp;Выксунского металлургического завода.
              .book-description__descr-bottom
                .book-description__descr-logo
                  img(src="img/content/metall-company.jpg" width="107" height="111" alt="Объединенная Металлургическая Компания")
            .book-description__button
              a.btn.btn--block(href="javascript: void(0)" data-sticky) каталог
          .book-description__bottom.row
            .book-description__bottom-item(style="width: 12.333%; float: left;padding-left: 15px;")
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 510
                    .heading__subtitle статей
            .book-description__bottom-item(style="width: 15.2%;float: left;")
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 1035
                    .heading__subtitle иллюстраций 
            .book-description__bottom-item(style="width: 18.2%;float: left;")
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title 4
                    .heading__subtitle фоторедактора
                .info-block__content
                  p подбирали иллюстративный материал
            .book-description__bottom-item(style="width: 21%;float: left;")
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  5
                    .heading__subtitle городов Росии
                .info-block__content
                  p устраивали выставку &laquo;Железная логика России&raquo; по&nbsp;случаю выхода книги
            .book-description__bottom-item(style="width: 31.2%;float: left;")
              .info-block
                .info-block__top
                  .heading.heading--grey
                    .heading__title  В&nbsp;обложку
                    .heading__subtitle вмонтирована металлическая пластина,
                .info-block__content
                  p украшенная лазерной гравировкой